/******** First Section ***/
.color{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.color ul{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.color ul li{
    height: 166px;
    width: 33%;
    list-style: none;
    cursor: pointer;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
    }
.white{
    background-color: rgb(215, 209, 209);
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.cyan{
    background-color: cyan;
}
.yellow{
    background-color: yellow;
}
.pink{
    background: pink;
}
.black{
    background-color: black;
}
/* Second part */

.image-hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.image-hover ul{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.image-hover ul li{
    height: 166px;
    width: 33%;
    list-style: none;
    cursor: pointer;
}
.image-hover ul li img{
    box-sizing: border-box;
    height:100%;
    width: 100%;
}
/******** Third section ****/

.image-hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.image-hover ul{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.hover-image ul li{
    height: 166px;
    width: 33%;
    list-style: none;
    cursor: pointer;
}
.hover-image ul li img{
    box-sizing: border-box;
    height:100%;
    width: 100%;
}
ul li{
    position: relative;
}
.getTheImage li div.preview{
    position: absolute;
    top: 20%;
    left:110px; 
    z-index: 100;
}
.getTheImage li div.preview img{
   width: 30em;
    max-height: 50vh;
    display: block;
    border:1px solid #fcf4dc
}

/********Fourth section ****/
.getTheImageByClick li div.preview{
    position: absolute;
    top: 20%;
    left:110px; 
    z-index: 100;
}
.getTheImageByClick li div.preview img{
   width: 30em;
    max-height: 50vh;
    display: block;
    border:1px solid #fcf4dc
}
/******** fifth section******/
.music_player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music_lists li{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    border-bottom: 2px red solid;
    padding-left: 13px;
    cursor: pointer;
}
.music_lists li:hover{
    background-color: #FA7E61;
    color:#EBF38B ;
    transition: all ease-in 0.2s;
    border-bottom: 2px rgb(6, 112, 6) solid;
}
.music_lists li:last-child{
    border-bottom: none;
}
.mp3_logo img{
    width: 50px;
    height: 40px;
}
.songs{
    padding: 15px 30px;
    background-color: #EBF38B;
    border-radius: 6px;
}
.songs .music{
    width: 200px;
    margin-left: 13px;
    font-size: 1.3em;
}

